/* unir lineas */
.boxfinseleccion {
    box-shadow: 0px 0px 10px rgb(142, 148, 224);
}

canvas {
    background-color: white;
    outline: none;
}

.boxContendorInicio {
    /* min-width: 2px;
    min-height: 2px; */
    border: solid 1px silver;
    border-radius: 5px;
    position: absolute;
    width: 100px;
    background-color: white !important;

}

.boxContendorFin {
    /* min-width: 2px;
    min-height: 2px; */
    border: solid 1px silver;
    border-radius: 5px;
    position: absolute;
    width: 100px;
    background-color: white !important;

}

/* caja para seleccionar y unir */
.divstart {
    width: 20px;
    height: 20px;
    border: none;
    background-color: rgb(247, 213, 121);
    position: absolute;
    right: -5px;
    top: 10%;
    border-radius: 50%;
    font-weight: bolder;
}

.divstart:hover {
    background-color: brown;
}

.divstart2 {
    width: 20px;
    height: 20px;
    border: none;
    background-color: transparent;
    position: absolute;
    right: -5px;
    top: 10%;
    border-radius: 50%;
    font-weight: bolder;
}


/* caja para seleccionar y unir */
.divend {
    width: 20px;
    height: 20px;
    border: none;
    background-color: rgb(139, 205, 243);
    position: absolute;
    left: -5px;
    top: 10%;
    border-radius: 50%;
    font-weight: bolder;
}

.divend2 {
    width: 20px;
    height: 20px;
    border: none;
    background-color: transparent;
    position: absolute;
    left: -5px;
    top: 10%;
    border-radius: 50%;
    font-weight: bolder;
}

.divend:hover {
    background-color: brown;
}

/* sirve para poner sombrar y arratres */
/* .boxbtn-cajainicio {} */

/* sirve para poner sombrar y arratres  */
/* .boxbtn-cajafin {} */

.boxnofunciona {
    pointer-events: none;
}

.boxseleccionado {
    box-shadow: 0px 0px 8px rgb(0, 0, 0);
}

/**** 
**CAJAS DE LOS ENUNCIADOS
***/
.cajaboxinicio {
    border: none;
    width: 100%;
}

.cajaboxfin {
    border: none;
    width: 100%;
}

/* fin unir lineas */